<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>iostream</Title>
            <Author>Sait Okur</Author>
            <Shortcut>ii</Shortcut>
        </Header>
        <Snippet>
        <Code Language="cpp">
            <![CDATA[#include<iostream>$end$]]>
        </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>